@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #0f172a;
  color: white;
  font-family: Inter, sans-serif;
  background-color: #6e6e73;;
}

.section {
  max-width: 1200px;
  margin: auto;
  padding: 6rem 1.5rem;
}