@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f5f5f7; /* El color exacto de la imagen */
    color: #1d1d1f;
  }
}

/* Enlaces estilo Apple Link */
.apple-link {
  color: #0066cc;
}
.apple-link:hover {
  text-decoration: underline;
}